body{
    background: red;
}
h1{
    text-align: center;
}
.text img{
    max-width: 100%;
}
.text_2{
    background: chartreuse;
    width: 400px;
    height: 200px;
    overflow: scroll;
    transition: all 2s;
}
.text_2:hover{
    width: 500px;
    height: 250px;
    background: blue;
}
.fa-apple-pay{
    color: white;
    font-size: 50px;
    transition: all 2s;
}
.fa-apple-pay:hover{
    color: blue;
    font-size: 80px;
}
